body{
    font-family: 'Chakra Petch', sans-serif;
    background-color:blue;
}

h1{
    font-family: 'Chakra Petch', sans-serif;
}

.my_btn_color{
    background-color: black
}

.jumbotron{
    background-color: silver;
}

h1{
    color:white!important;
}

.my_icon_color{
    color: blue
}

.my_margin_bottom{
    margin-bottom: 30px;
}

.my_link:hover{
    text-decoration:none;
}

.my_link{
    color:black;
}

.general_spacing{
    margin-bottom:100px;
}